<main>
    <p>
        Sou Isaías Rodrigues Silva, desenvolvedor fullstack há quase 3 anos, trabalho com tecnologias
        como React, Spring Boot, Golang desenvolvendo produtos geralmente orientados a arquitetura de microsservices
        utilizando bancos relacionais (MySQL) ou não relacionais (MongoDB). 
        <br>
        Atualmente estou estudando DevOPS, aprendendo e trabalhando com Docker, AWS, GCP, K8s, Rancher etc.
    </p>
    Acesse o meu <a href="#">Github</a>
    <br>
    Ou o meu <a href="#">Linkedin</a>

    <h5>
        <li><a [routerLink]="['/about-me/read-more']" >Saiba mais</a></li>
    </h5>
</main>
<router-outlet></router-outlet>